.menu {
  padding: 100px 0;
  background: center / cover no-repeat #fff url(../images/background_menu.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  margin: 0 0 24px;
}

.menu__subtitle {
  margin: 0 0 100px;
}

.menu__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card__list-divider {
  display:flex;

}