@import url(../vendor/normalize.css);

@import url(../blocks/page.css);

@import url(../blocks/header.css);

@import url(../blocks/nav.css);

@import url(../blocks/recipes.css);

@import url(../blocks/reservation.css);

@import url(../blocks/form.css);

.menu {
  background: url(../images/background_menu.svg) center/cover no-repeat #fff;
}

.menu__title {
  padding: 100px 0 24px;
  max-width: 780px;
}

.menu__subtitle {
  margin: 0;
  padding: 0;
  max-width: 780px;
}

.menu__cards {
  display: flex;
  margin: 100px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.card__title {
  display: flex;
  align-self: flex-start;
}

.card__list-item {
  list-style-type: none;
}

.card__list-divider {
  border-bottom: #838383;
}
