.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.header {
  padding: 30px 80px 40px;
  background: center / cover no-repeat #fff url(../images/background_header.svg);
  position: relative;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  right: 5px;
  top: 124px;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}

.recipes {
  background: center / cover no-repeat #0a2750
    url(../images/background_recipes.svg);
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 500px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}
.recipes__subtitle {
  margin: 28px 0 0;
  max-width: 430px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  margin: 80px auto;
  width: 480px;
  height: 273px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 24px 40px;
}

.recipes__iframe {
  display: flex;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
